[color]
  ui = auto
[merge]
  tool = vimdiff
[alias]
  co = checkout
  br = branch
  ci = commit
  ca = commit --amend
  st = status
  unstage = reset HEAD --
  last = log -1 HEAD
  pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
  ll = log --graph --pretty=format:'%Cred%h - %Creset%s%Creset  %Cgreen(%cr)%Creset %C(bold blue) <%an>' --abbrev-commit --date=relative
  cleanup = remote prune origin
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[user]
  name = Aleksey Lashin
	email = aleksey.lashin@gmail.com
[credential]
	helper = osxkeychain
[core]
	autocrlf = input
	quotepath = false
