[color]
  ui = auto
[merge]
  tool = vimdiff
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  unstage = reset HEAD --
  last = log -1 HEAD
  visual = gitk
  d = difftool
  ll = log --graph --pretty=format:'%s - %Cred%h%Creset  %Cgreen(%cr)%Creset %an' --abbrev-commit --date=relative
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[user]
  name = Aleksey Lashin
  email = aleksey.lashin@gmail.com

